language: generic 
sudo: required
services: 
  - docker

before_install:
  - docker build -t 1234568907/docker-react -f Dockerfile.dev .
script: 
  - docker run -e CI=true 1234568907/docker-react npm run test -- --coverage